<h1>Create Account</h1>
<form action="#">
    <label for="name">name:</label>
    <input type="text" name = "name" required><br>
    <label for="username">User Name:</label>
    <input type="text" name = "username" required><br>
    <label for="password">Password:</label>
    <input type="password" name = "password" required><br>
    Re-enter <br> Password:
    <input type="password" name = "password" required><br>
    <label for="email">Contact Email:</label>
    <input type="email" name = "email" required><br>
    <label for="phonenumber">Phone Number:</label>
    <input type="tel" name = "phonenumber"><br>
    <label for="shippingaddress">Shipping Address:</label>
    <input type="text" name = "shippingaddress" required><br>
    <input type="submit" value="Submit">
    </form>