<%= button_to "Home Page", welcome_index_path, :method => "get"%>
<p>
    <strong>Room Name:</strong>
    <%= @room.roomcode %>
    
</p>

<h2>Users</h2>
<%= render @room.matches %>

<h2>Add a User</h2>

<%= render 'matches/form' %>

<div id="snow"></div>