
<p>
    <strong>Room code:</strong>
    <%= @room.roomcode %>
    
</p>


<p>
    <strong>Room Password:</strong>
    <%= @room.roompassword %>
</p>

<h2>Users</h2>
<%= render @room.matches %>

<h2>Add a User</h2>

<%= render 'matches/form' %>

<div id="snow"></div>