
  <strong>Fuck</strong>

  <table>
    <tr>
    <th><% @names.each do |t| %>
    <%= t %>-----><br>
    <% end %></th>
    
   <th> <% @matchedNames.each do |m| %>
    <%= m %><br>
    <% end %></th>
    
    </tr>
    
</table>

<div id="snow"></div>
