<%= form_for([@room, @room.matches.build]) do |f| %>
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
    
    <p>
        <input type="submit" class="submit" value="Add user" />
        
    </p>
    <div id="snow"></div>
<% end %>