// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    color: white;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}
p, td, th, {
    color: white;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

h2, ul {
    color: white;
    font-family: "Times New Roman", Times, serif;
}

