<h1>Gift Exchange Project</h1>
<p>Be entertained by this donkey</p>

<img src="http://cdn.playbuzz.com/cdn/cddfc2e9-3f3d-440a-8ede-795ff6b38f09/a10210e5-5edd-47dd-823d-3496f00b4e4b.gif">
<div id="snow"></div>
<form>
<form action="/action_page.php">
    Login:<br>
    <input type="text" login = "username"><br>
    Password:<br>
    <input type= "text" password="password"><br><br>
    <input type="login" value="Login"><br><br>
    <input type="create" value="Create">
</form>

